@import "tailwindcss";

:root {
  --darkCyan: #588b8bff;
  --white: #ffffff;
  --apricot: #ffd5c2ff;
  --tangerine: #f28f3bff;
  --jasper: #c8553dff;
}

/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
